.el-icon-icon1{
  background: url(../image/exit.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon1:before{
  content: "替";
  font-size: 25px;
  visibility: hidden;
}
.el-icon-icon2{
  background: url(../image/wen.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon2:before{
  content: "替";
  font-size: 18px;
  visibility: hidden;
}
.el-icon-icon3{
  background: url(../image/monitoring.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon3:before{
  content: "替";
  font-size: 18px;
  visibility: hidden;
}
.el-icon-icon4{
  background: url(../image/print.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon4:before{
  content: "替";
  font-size: 18px;
  visibility: hidden;
}
.el-icon-icon5{
  background: url(../image/bull.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon5:before{
  content: "替";
  font-size: 18px;
  visibility: hidden;
}
.el-icon-icon6{
  background: url(../image/set.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon6:before{
  content: "替";
  font-size: 18px;
  visibility: hidden;
}
.el-icon-icon7{
  background: url(../image/upload.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon7:before{
  content: "替";
  font-size: 16px;
  visibility: hidden;
}
.el-icon-icon8{
  background: url(../image/delete.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon8:before{
  content: "替";
  font-size: 14px;
  visibility: hidden;
}
.el-icon-icon9{
  background: url(../image/prints.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon9:before{
  content: "替";
  font-size: 14px;
  visibility: hidden;
}
.el-icon-icon10{
  background: url(../image/copy.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon10:before{
  content: "替";
  font-size: 14px;
  visibility: hidden;
}
.el-icon-icon11{
  background: url(../image/repeal.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon11:before{
  content: "替";
  font-size: 14px;
  visibility: hidden;
}
.el-icon-icon12{
  background: url(../image/redact.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon12:before{
  content: "替";
  font-size: 14px;
  visibility: hidden;
}
.el-icon-icon13{
  background: url(../image/messages.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon13:before{
  content: "替";
  font-size: 14px;
  visibility: hidden;
}
.el-icon-icon14{
  background: url(../image/sender.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon14:before{
  content: "替";
  font-size: 16px;
  visibility: hidden;
}
.el-icon-icon15{
  background: url(../image/rec.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon15:before{
  content: "替";
  font-size: 56px;
  visibility: hidden;
}
.el-icon-icon16{
  background: url(../image/car.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon16:before{
  content: "替";
  font-size: 56px;
  visibility: hidden;
}
.el-icon-icon17{
  background: url(../image/dis.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon17:before{
  content: "替";
  font-size: 56px;
  visibility: hidden;
}
.el-icon-icon18{
  background: url(../image/sign.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon18:before{
  content: "替";
  font-size: 56px;
  visibility: hidden;
}
.el-icon-icon19{
  background: url(../image/abn.png) center no-repeat;
  background-size: cover;
}
.el-icon-icon19:before{
  content: "替";
  font-size: 56px;
  visibility: hidden;
}




